@tailwind components;

@layer components {
  .cs-row {
    @apply w-full flex items-center bg-white border-b-[1px] border-slate-200/90  h-[45px] shrink-0 grow-0;
  }
  .cs-cell {
    @apply p-1 align-middle h-full text-nowrap overflow-hidden shrink-0 grow-0 flex items-center justify-start;
  }

  .revert {
    @apply rotate-[180deg];
  }

  .no-revert {
    @apply rotate-[0deg];
  }

  .selected-status {
    @apply rounded-lg bg-pink-300/50;
  }

  .translateTocenter {
    translate:0 -50%;
  }

  /* 自定义滚动条的整体部分 */
  ::-webkit-scrollbar {
    width: 10px; /* 滚动条的宽度 */
    height: 10px;
    
  }
  * {
    scrollbar-width: thin; /* 可选值：auto, thin, none */
    scrollbar-color: #888 #f1f1f1; /* 滑块颜色 轨道颜色 */
  }
  * {
    scrollbar-width: thin; /* 可选值：auto, thin, none */
    scrollbar-color: #888 #f1f1f1; /* 滑块颜色 轨道颜色 */
  }
  
  /* WebKit (Chrome, Safari, 新版Edge) */
  *::-webkit-scrollbar {
    width: 10px; /* 滚动条的宽度 */
    height: 10px;
    
  }
  
  *::-webkit-scrollbar-track {
    background: #f1f1f1; /* 轨道的颜色 */
  }
  
  *::-webkit-scrollbar-thumb {
    background: #888; /* 滑块的颜色 */
    border-radius: 10px; /* 滑块的圆角 */
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: #555; /* 悬停时滑块的颜色 */
  }
}